html, body{
    margin: 0;
    padding: 0;
    background-color: #000;
}

/* 保留scroller功能但是不现实 */
body::-webkit-scrollbar {
    display: none;
}

/* canvas {
    display: block;
} */

/* body {
    padding: 0;
    margin: 0;
    background-color: #000

  } */
